// *================== Colors ==================*
$color-soft-blue: #8BACD9;
$color-white: #FFFFFF;
$color-cyan: #00FFF8;
$color-very-dark-blue-body: #0D192C;
$color-very-dark-blue-card: #15263F;
$color-very-dark-blue-line: #2E405A;
$color-box-shadow-card: rgba(0, 0, 0, 0.0953);

// *================== Familys ==================*
$family-outfit: "Outfit", sans-serif;

// *================== Weights ==================*
$weight-semibold: 600;
$weight-regular: 400;
$weight-light: 300;